[tool.black]
line-length = 88
target-version = ['py38']
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | migrations
  | node_modules
)/
'''

[tool.isort]
profile = "black"
line_length = 88
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true
known_first_party = ["accounts", "analytics", "backup", "blog", "bookings", "car_sales", "chatbot", "cms", "config", "cookie_consent", "faq", "gallery", "hitcount_migrations", "inquiries", "newsletter", "testimonials", "theming", "utils", "vehicles"]
skip = [".venv", "venv", "env", "migrations", "node_modules"]
skip_glob = ["**/migrations/*", "frontend/*"]
